<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.trip.dao.TripDao">

  <resultMap id="tripMap" type="Trip">
    <id property="id" column="id" />
    <result property="firstdate" column="firstdate"/>
    <result property="lastdate" column="lastdate"/>
    <result property="createtime" column="createtime"/>
    <result property="updatetime" column="updatetime"/>
    <collection property="tripAttractionList" ofType="TripAttraction">
      <id property="id" column="id"/>
      <result property="contentId" column="attraction_info_content_id"/>
      <result property="dayByAttraction" column="day_by_attraction"/>
      <result property="orderByDay" column="order_by_day"/>
    </collection>
  </resultMap>


  <insert id="insertTrip" parameterType="Trip">
    INSERT INTO trip (id, firstdate, lastdate, createtime, updatetime)
    VALUES (#{id}, #{firstdate}, #{lastdate}, #{createtime}, #{updatetime})

<!--    INSERT INTO trip_attraction (trip_id, attraction_info_content_id, day_by_attraction, order_by_day)-->
<!--    VALUES-->
<!--    <foreach collection="tripAttractionList" item="tripAttraction" separator=",">-->
<!--      (#{id}, #{tripAttraction.contentId}, #{tripAttraction.dayByAttraction}, #{tripAttraction.orderByDay})-->
<!--    </foreach>-->
  </insert>
</mapper>
