<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.trip.dao.TripDao">

  <resultMap id="tripMap" type="Trip">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="firstdate" column="firstdate" jdbcType="DATE"/>
    <result property="lastdate" column="lastdate" jdbcType="DATE"/>
    <result property="createtime" column="createtime"/>
    <result property="updatetime" column="updatetime"/>
  </resultMap>
  <resultMap id="tripAttractionMap" type="TripAttraction">
      <id property="id" column="id"/>
      <result property="contentId" column="attraction_info_content_id"/>
      <result property="dayByAttraction" column="day_by_attraction"/>
      <result property="orderByDay" column="order_by_day"/>
      <result property="tripId" column="trip_id"/>
  </resultMap>


  <insert id="insertTrip" parameterType="Trip"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO trip (firstdate, lastdate, createtime, updatetime, name)
    VALUES (#{firstdate}, #{lastdate}, now(), now(), #{name});
  </insert>

  <insert id="insertTripAttraction" parameterType="java.util.List">
    <foreach collection="tripAttractionList" item="item" index="index" separator=";">
      INSERT INTO trip_attraction (trip_id, attraction_info_content_id, day_by_attraction, order_by_day)
      VALUES (#{item.tripId}, #{item.contentId}, #{item.dayByAttraction}, #{item.orderByDay})
    </foreach>
  </insert>

</mapper>
